name = "workflow"
main = "src/index.ts"
compatibility_date = "2025-07-09"
compatibility_flags = [ "nodejs_compat" ]

[[workflows]]
name = "test-workflow"
binding = "TEST_WORKFLOW"
class_name = "TestWorkflow"

[[workflows]]
name = "test-email-workflow"
binding = "TEST_EMAIL_WORKFLOW"
class_name = "TestEmailWorkflow"

[[workflows]]
name = "test-sms-workflow"
binding = "TEST_SMS_WORKFLOW"
class_name = "TestSMSWorkflow"

[[workflows]]
name = "test-error-workflow"
binding = "TEST_ERROR_WORKFLOW"
class_name = "TestErrorWorkflow"

[[kv_namespaces]]
binding = "KV"
id = "sample-kv"

